# https://stackoverflow.com/a/987162/10974490
# ignore everything
*

# But not these files...
!.gitignore
!*.dart
!*.md
!push_notifications/imgs/*
!imgs/*
!pubspec.*
!provider_app/assets/*
!named_routes_app/assets/*

# ...even if they are in subdirectories
!*/
